In [1]:
import pandas as pd
import codecs
from pandarallel import pandarallel
import datetime
import numpy as np
import feather
from pathlib import Path
import os

pd.options.display.max_columns = 999
pandarallel.initialize(progress_bar=False)

New pandarallel memory created - Size: 2000 MB
Pandarallel will run on 4 workers

In [2]:
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [3]:
with codecs.open('../01_data/variables_browseNotes_select.txt','r') as f:
    variables = [i[:-1] for i in f.readlines()]

In [4]:
%%time

df = pd.read_csv('../01_data/loan.csv', 
                 low_memory=False,
                 usecols=variables,
                 parse_dates=['issue_d','earliest_cr_line'],
                 date_parser=lambda col: pd.to_datetime(col, format="%b-%Y", errors='coerce').date()
                )

CPU times: user 15min 34s, sys: 10.4 s, total: 15min 45s
Wall time: 16min 12s

In [5]:
df.dtypes

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
term                                           object
int_rate                                      float64
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
issue_d                                datetime64[ns]
loan_status                                    object
url                                           float64
desc                                           object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                   float64
earliest_cr_line                       datetime64[ns]
inq_last_6mths                                float64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                      float64
pub_rec                                       float64
revol_bal                                       int64
revol_util                                    float64
total_acc                                     float64
initial_list_status                            object
collections_12_mths_ex_med                    float64
mths_since_last_major_derog                   float64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                float64
tot_coll_amt                                  float64
tot_cur_bal                                   float64
open_acc_6m                                   float64
open_act_il                                   float64
open_il_12m                                   float64
open_il_24m                                   float64
mths_since_rcnt_il                            float64
total_bal_il                                  float64
il_util                                       float64
open_rv_12m                                   float64
open_rv_24m                                   float64
max_bal_bc                                    float64
all_util                                      float64
total_rev_hi_lim                              float64
inq_fi                                        float64
total_cu_tl                                   float64
inq_last_12m                                  float64
acc_open_past_24mths                          float64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                      float64
delinq_amnt                                   float64
mo_sin_old_rev_tl_op                          float64
mo_sin_rcnt_rev_tl_op                         float64
mo_sin_rcnt_tl                                float64
mort_acc                                      float64
mths_since_recent_bc                          float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                         float64
num_actv_bc_tl                                float64
num_actv_rev_tl                               float64
num_bc_sats                                   float64
num_bc_tl                                     float64
num_il_tl                                     float64
num_op_rev_tl                                 float64
num_rev_accts                                 float64
num_rev_tl_bal_gt_0                           float64
num_sats                                      float64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                  float64
num_tl_90g_dpd_24m                            float64
num_tl_op_past_12m                            float64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                          float64
tax_liens                                     float64
tot_hi_cred_lim                               float64
total_bal_ex_mort                             float64
total_bc_limit                                float64
total_il_high_credit_limit                    float64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
disbursement_method                            object
dtype: object

In [6]:
def include_exclude(col):
    if col <= pd.to_datetime('2016.03'):
        return True
    else:
        return False
def assign_random():
    return np.random.rand()

In [7]:
df = df.assign(include = lambda x: x['issue_d'].parallel_apply(include_exclude))

In [8]:
from collections import Counter
Counter(df.include.tolist())

Counter({False: 1239341, True: 1021327})

In [9]:
np.random.seed(seed=666)
df['random_value'] = np.random.rand(df.shape[0])

In [10]:
default_map = {
    'Fully Paid': 0,
    'Default' : 1,
    'In Grace Period': 0,
    'Does not meet the credit policy. Status:Fully Paid' : 0,
    'Charged Off': 1,
    'Late (31-120 days)' : 1,
    'Current' : 0,
    'Does not meet the credit policy. Status:Charged Off' : 1,
    'Late (16-30 days)' : 0
}

def default_flag(value):
    return default_map[value]

In [11]:
df = df.assign(default = lambda x: x['loan_status'].parallel_apply(default_flag))

In [12]:
df.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,issue_d,loan_status,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method,include,random_value,default
0,NaN,NaN,2500,2500,36 months,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,2018-12-01,Current,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,2001-04-01,1.0,NaN,45.0,9.0,1.0,4341,10.3,34.0,w,0.0,NaN,Individual,NaN,NaN,NaN,0.0,0.0,16901.0,2.0,2.0,1.0,2.0,2.0,12560.0,69.0,2.0,7.0,2137.0,28.0,42000.0,1.0,11.0,2.0,9.0,1878.0,34360.0,5.9,0.0,0.0,212.0,1.0,1.0,0.0,1.0,2.0,NaN,0.0,2.0,5.0,3.0,3.0,16.0,7.0,18.0,5.0,9.0,0.0,0.0,0.0,3.0,100.0,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,False,0.700437,0
1,NaN,NaN,30000,30000,60 months,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,2018-12-01,Current,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.0,1987-06-01,0.0,71.0,75.0,13.0,1.0,12315,24.2,44.0,w,0.0,NaN,Individual,NaN,NaN,NaN,0.0,1208.0,321915.0,4.0,4.0,2.0,3.0,3.0,87153.0,88.0,4.0,5.0,998.0,57.0,50800.0,2.0,15.0,2.0,10.0,24763.0,13761.0,8.3,0.0,0.0,378.0,4.0,3.0,3.0,4.0,4.0,NaN,0.0,2.0,4.0,4.0,9.0,27.0,8.0,14.0,4.0,13.0,0.0,0.0,0.0,6.0,95.0,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,False,0.844187,0
2,NaN,NaN,5000,5000,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,2018-12-01,Current,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0.0,2011-04-01,0.0,NaN,NaN,8.0,0.0,4599,19.1,13.0,w,0.0,NaN,Individual,NaN,NaN,NaN,0.0,0.0,110299.0,0.0,1.0,0.0,2.0,14.0,7150.0,72.0,0.0,2.0,0.0,35.0,24100.0,1.0,5.0,0.0,4.0,18383.0,13800.0,0.0,0.0,0.0,92.0,15.0,14.0,2.0,77.0,14.0,NaN,0.0,0.0,3.0,3.0,3.0,4.0,6.0,7.0,3.0,8.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,False,0.676514,0
3,NaN,NaN,4000,4000,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000.0,2018-12-01,Current,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0.0,2006-02-01,0.0,NaN,NaN,10.0,0.0,5468,78.1,13.0,w,0.0,NaN,Individual,NaN,NaN,NaN,0.0,686.0,305049.0,1.0,5.0,3.0,5.0,5.0,30683.0,68.0,0.0,0.0,3761.0,70.0,7000.0,2.0,4.0,3.0,5.0,30505.0,1239.0,75.2,0.0,0.0,154.0,64.0,5.0,3.0,64.0,5.0,NaN,0.0,1.0,2.0,1.0,2.0,7.0,2.0,3.0,2.0,10.0,0.0,0.0,0.0,3.0,100.0,100.0,0.0,0.0,385183.0,36151.0,5000.0,44984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,False,0.727858,0
4,NaN,NaN,30000,30000,60 months,16.14,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,2018-12-01,Current,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0.0,2000-12-01,0.0,NaN,NaN,12.0,0.0,829,3.6,26.0,w,0.0,NaN,Individual,NaN,NaN,NaN,0.0,0.0,116007.0,3.0,5.0,3.0,5.0,4.0,28845.0,89.0,2.0,4.0,516.0,54.0,23100.0,1.0,0.0,0.0,9.0,9667.0,8471.0,8.9,0.0,0.0,216.0,2.0,2.0,2.0,2.0,13.0,NaN,0.0,2.0,2.0,3.0,8.0,9.0,6.0,15.0,2.0,12.0,0.0,0.0,0.0,5.0,92.3,0.0,0.0,0.0,157548.0,29674.0,9300.0,32332.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,False,0.951458,0

Save excluded data

In [13]:
feather.write_dataframe(df.query('include == False').drop('include', axis=1), '../01_data/DS_loans_OUT.feather')

Included data

In [14]:
df_IN = df.query('include == True').drop('include', axis=1)

Drop irrelevant features

In [15]:
df_IN.select_dtypes(include=['object']).describe().T

                             count  unique                 top     freq
term                       1021327       2           36 months   717289
grade                      1021327       7                   B   294820
sub_grade                  1021327      35                  B3    64847
emp_title                   960873  325103             Teacher    16015
emp_length                  967548      11           10+ years   337941
home_ownership             1021327       6            MORTGAGE   510420
loan_status                1021327       9          Fully Paid   749471
desc                        126054  124491                          250
purpose                    1021327      14  debt_consolidation   600940
title                      1010554   63155  Debt consolidation   484444
zip_code                   1021327     942               945xx    11163
addr_state                 1021327      51                  CA   147858
initial_list_status        1021327       2                   w   543473
application_type           1021327       2          Individual  1018155
verification_status_joint     3172       1        Not Verified     3172
sec_app_earliest_cr_line         0       0                 NaN      NaN
disbursement_method        1021327       2                Cash  1019594

In [16]:
df_IN.select_dtypes(exclude=['object']).describe().T

,count,mean,std,min,25%,50%,75%,max
id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
member_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_amnt,1021327.0,14864.527424,8496.667933,500.000000,8000.000000,13000.000000,20000.000000,40000.00
funded_amnt,1021327.0,14852.896159,8492.024793,500.000000,8000.000000,13000.000000,20000.000000,40000.00
int_rate,1021327.0,13.144345,4.451256,5.320000,9.750000,12.990000,15.990000,28.99
installment,1021327.0,439.859617,246.668097,4.930000,261.530000,384.450000,577.655000,1536.95
annual_inc,1021323.0,75739.112984,66630.445505,0.000000,46000.000000,65000.000000,90000.000000,9550000.00
url,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dti,1021308.0,18.319798,8.645885,-1.000000,12.000000,17.790000,24.170000,999.00
delinq_2yrs,1021298.0,0.318246,0.868505,0.000000,0.000000,0.000000,0.000000,39.00
inq_last_6mths,1021297.0,0.679161,0.984443,0.000000,0.000000,0.000000,1.000000,33.00
mths_since_last_delinq,502420.0,34.028608,21.903673,0.000000,15.000000,31.000000,50.000000,192.00
mths_since_last_record,160735.0,69.565365,27.629707,0.000000,51.000000,70.000000,90.000000,129.00
open_acc,1021298.0,11.623319,5.381174,0.000000,8.000000,11.000000,14.000000,90.00
pub_rec,1021298.0,0.200998,0.593733,0.000000,0.000000,0.000000,0.000000,86.00
revol_bal,1021327.0,17142.892489,22970.835300,0.000000,6461.000000,11926.000000,20977.000000,2904836.00
revol_util,1020754.0,54.656617,23.907140,0.000000,37.100000,55.400000,73.200000,892.30
total_acc,1021298.0,25.277872,11.874104,1.000000,17.000000,24.000000,32.000000,176.00
collections_12_mths_ex_med,1021182.0,0.015280,0.138814,0.000000,0.000000,0.000000,0.000000,20.00
mths_since_last_major_derog,259797.0,43.255796,21.256968,0.000000,26.000000,43.000000,61.000000,197.00
annual_inc_joint,3172.0,108837.317267,46290.852667,17950.000000,77000.000000,102000.000000,132000.000000,500000.00
dti_joint,3168.0,18.556029,7.209494,1.110000,13.437500,18.225000,23.280000,63.66
acc_now_delinq,1021298.0,0.005250,0.079012,0.000000,0.000000,0.000000,0.000000,14.00
tot_coll_amt,951051.0,230.413535,9588.656577,0.000000,0.000000,0.000000,0.000000,9152545.00
tot_cur_bal,951051.0,140552.256184,155130.076844,0.000000,30159.000000,81335.000000,209503.000000,8000078.00
open_acc_6m,155197.0,1.054138,1.211721,0.000000,0.000000,1.000000,2.000000,16.00
open_act_il,155198.0,2.815281,2.993564,0.000000,1.000000,2.000000,3.000000,48.00
open_il_12m,155198.0,0.749153,0.990731,0.000000,0.000000,0.000000,1.000000,20.00
open_il_24m,155198.0,1.632012,1.673988,0.000000,0.000000,1.000000,2.000000,30.00
mths_since_rcnt_il,150996.0,21.540776,27.215913,0.000000,6.000000,12.000000,24.000000,446.00
total_bal_il,155198.0,35821.015548,42298.831529,0.000000,9711.250000,24215.500000,46754.000000,878459.00
il_util,134625.0,70.857129,23.130439,0.000000,58.000000,74.000000,87.000000,558.00
open_rv_12m,155198.0,1.375875,1.523030,0.000000,0.000000,1.000000,2.000000,28.00
open_rv_24m,155198.0,2.936269,2.630192,0.000000,1.000000,2.000000,4.000000,44.00
max_bal_bc,155198.0,6142.875449,6095.782248,0.000000,2507.000000,4642.000000,7979.750000,776843.00
all_util,155192.0,60.685828,19.954672,0.000000,48.000000,62.000000,75.000000,198.00
total_rev_hi_lim,951051.0,32672.489184,37504.913242,0.000000,14100.000000,24100.000000,40500.000000,9999999.00
inq_fi,155198.0,0.951688,1.492206,0.000000,0.000000,0.000000,1.000000,28.00
total_cu_tl,155197.0,1.543148,2.779478,0.000000,0.000000,0.000000,2.000000,79.00
inq_last_12m,155197.0,2.193670,2.469732,0.000000,0.000000,2.000000,3.000000,40.00
acc_open_past_24mths,971297.0,4.483550,3.055239,0.000000,2.000000,4.000000,6.000000,64.00
avg_cur_bal,951039.0,13354.872523,15922.473224,0.000000,3160.000000,7462.000000,18535.000000,958084.00
bc_open_to_buy,962248.0,9264.317049,14331.035948,0.000000,1258.000000,4122.000000,11071.000000,559912.00
bc_util,961667.0,63.333926,27.186503,0.000000,43.400000,67.500000,87.000000,339.60
chargeoff_within_12_mths,1021182.0,0.009067,0.108588,0.000000,0.000000,0.000000,0.000000,10.00
delinq_amnt,1021298.0,12.374551,701.650715,0.000000,0.000000,0.000000,0.000000,159177.00
mo_sin_old_rev_tl_op,951050.0,185.307965,94.054011,3.000000,120.000000,168.000000,234.000000,852.00
mo_sin_rcnt_rev_tl_op,951050.0,13.426090,16.693808,0.000000,4.000000,8.000000,16.000000,372.00
mo_sin_rcnt_tl,951051.0,8.135296,9.138431,0.000000,3.000000,6.000000,10.000000,283.00
mort_acc,971297.0,1.746994,2.066175,0.000000,0.000000,1.000000,3.000000,52.00
mths_since_recent_bc,962876.0,24.766935,31.229792,0.000000,6.000000,14.000000,30.000000,616.00
mths_since_recent_inq,870835.0,6.845424,5.909132,0.000000,2.000000,5.000000,10.000000,25.00
mths_since_recent_revol_delinq,338733.0,35.761674,22.420422,0.000000,17.000000,33.000000,53.000000,197.00
num_accts_ever_120_pd,951051.0,0.486725,1.261724,0.000000,0.000000,0.000000,0.000000,39.00
num_actv_bc_tl,951051.0,3.739758,2.245597,0.000000,2.000000,3.000000,5.000000,36.00
num_actv_rev_tl,951051.0,5.823705,3.304920,0.000000,4.000000,5.000000,7.000000,52.00
num_bc_sats,962737.0,4.760361,2.897069,0.000000,3.000000,4.000000,6.000000,63.00
num_bc_tl,951051.0,8.368157,4.827501,0.000000,5.000000,7.000000,11.000000,70.00
num_il_tl,951051.0,8.482174,7.297438,0.000000,3.000000,7.000000,11.000000,150.00
num_op_rev_tl,951051.0,8.354666,4.480389,0.000000,5.000000,7.000000,11.000000,83.00
num_rev_accts,951050.0,14.972217,8.084461,0.000000,9.000000,13.000000,19.000000,118.00
num_rev_tl_bal_gt_0,951051.0,5.786709,3.238482,0.000000,4.000000,5.000000,7.000000,45.00
num_sats,962737.0,11.705742,5.392205,0.000000,8.000000,11.000000,14.000000,90.00
num_tl_120dpd_2m,916084.0,0.000790,0.029798,0.000000,0.000000,0.000000,0.000000,6.00
num_tl_30dpd,951051.0,0.003722,0.065247,0.000000,0.000000,0.000000,0.000000,4.00
num_tl_90g_dpd_24m,951051.0,0.088703,0.489707,0.000000,0.000000,0.000000,0.000000,39.00
num_tl_op_past_12m,951051.0,2.076652,1.759504,0.000000,1.000000,2.000000,3.000000,31.00
pct_tl_nvr_dlq,950898.0,94.270518,8.538346,0.000000,91.700000,97.900000,100.000000,100.00
percent_bc_gt_75,961839.0,49.026498,35.546459,0.000000,20.000000,50.000000,80.000000,100.00
pub_rec_bankruptcies,1019962.0,0.120741,0.362538,0.000000,0.000000,0.000000,0.000000,12.00
tax_liens,1021222.0,0.051403,0.399393,0.000000,0.000000,0.000000,0.000000,85.00
tot_hi_cred_lim,951051.0,172774.648381,175109.839979,0.000000,49523.000000,112447.000000,249894.500000,9999999.00
total_bal_ex_mort,971297.0,49817.290124,47074.370969,0.000000,21444.000000,37712.000000,62599.000000,2921551.00
total_bc_limit,971297.0,21414.096784,21184.943721,0.000000,7700.000000,15000.000000,27900.000000,1105500.00
total_il_high_credit_limit,951051.0,41357.970908,42600.068775,0.000000,14329.000000,31078.000000,55644.500000,2101913.00
revol_bal_joint,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sec_app_mort_acc,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sec_app_open_acc,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sec_app_revol_util,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sec_app_open_act_il,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
random_value,1021327.0,0.500098,0.288678,0.000001,0.250038,0.500058,0.749982,1.00
default,1021327.0,0.174301,0.379368,0.000000,0.000000,0.000000,0.000000,1.00

In [17]:
drop_columns_all_nan = ['id','member_id','url','revol_bal_joint','sec_app_inq_last_6mths','sec_app_mort_acc',
                        'sec_app_open_acc','sec_app_revol_util','sec_app_open_act_il','sec_app_num_rev_accts',
                        'sec_app_chargeoff_within_12_mths','sec_app_collections_12_mths_ex_med',
                        'sec_app_mths_since_last_major_derog']

In [18]:
df_IN =df_IN.drop(drop_columns_all_nan, axis=1)

In [19]:
df.shape

(2260668, 107)

In [20]:
df_IN.shape

(1021327, 93)

In [21]:
feather.write_dataframe(df_IN.query('random_value < 0.7'), '../01_data/DS_loans_IN_train.feather')
feather.write_dataframe(df_IN.query('random_value >= 0.7'), '../01_data/DS_loans_IN_test.feather')